<!doctype html>
<html lang="zh-CN"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> 豆瓣同步</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wapper"> 
		<div id="header">
			<h1>关于豆瓣同步</h1>
			<span class="header_menu">
				<a href="/">返回首页</a>
			</span>
		</div>
		<div id="content">
	        <div class="about">
			 这个应用可以帮你把豆瓣广播同步到其他微博（目前只支持新浪微博）<br/>
不喜欢插件,不喜欢麻烦的注册,不喜欢上其他网站,只喜欢豆瓣肿么办<br/>
来吧，只要两步授权就好了，然后就刷你的豆瓣吧<br/>
<br/>
有时间我会慢慢完善并添加更多微博的支持 <br/>
Contact: <a href="http://www.douban.com/people/irachex/">irachex</a>
		    </div>
		</div>
	</div>
</body>
</html>