<!doctype html>
<html lang="zh-CN"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> 豆瓣同步</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	
	<div id="wapper"> 
		<div id="header">
			<h1>豆瓣同步</h1>
		</div>
		<div id="content">
		    <ol> 
	            <li class="douban_bind"> 
	                <h5 class="todo">连接豆瓣</h5>
	                <div class="list_item">
	                    <a href="{{ douban_url }}"><img src="/static/img/doubanconnect.png" alt="douban connect"/></a>
	                </div>
	            </li> 
	            <li class="weibo_bind"> 
	                <h5 class="todo">连接新浪微博</h5>  
	            </li> 
	        </ol> 
	    </div> 
	</div>
</body>
</html>