<!doctype html>
<html lang="zh-CN"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> 豆瓣同步</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wapper"> 
		<div id="header">
			<h1>豆瓣同步</h1>
			<span class="logout">
				<a href="/logout/">换个帐号</a>
			</span>
		</div>
		<div id="content">
	        <ol> 
	            <li class="douban_bind"> 
	                <h5 class="done"><span>与豆瓣{{name}}连接成功</span></h5>
	            </li> 
	            <li class="weibo_bind"> 
	                <h5 class="todo">连接新浪微博</h5>
	                <div class="list_item">
		                <a href="{{ weibo_url }}"><img src="/static/img/weiboconnect.png" alt="weibo connect"/></a>
		            </div>
		
	            </li> 
	        </ol>
        </div>
	</div>
</body>
</html>